.Storage {
    margin-bottom: 18px;
    margin: 4%;
    display: grid;
    place-items: center;
    grid-gap: 2rem;
    overflow: scroll;
  }

  .Storage .stores {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(8, min-content);
    align-items: center;
  }
  
  .Storage .stores .store:not(.occupied):hover,
  .Storage .stores .store:not(.occupied):focus {
    cursor: pointer;
    background: #c1eac5;
    transform: scale(1.05);
  }
  .Storage .stores .store.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 2px;
    min-width: 8rem;
    min-height: 6rem;
    border-radius: 100%;
    background: transparent;
    border: 3px solid #7bc47f;
    animation: show-off 0.8s;
    visibility: hidden;
  }
  
  @keyframes show-off {
    0% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

  .store {
    display: inline-block;
    background: #cfcfcf;
    min-width: 8rem;
    min-height: 6rem;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    position: relative;
  }
  
  .store.selected {
    background: #7bc47f !important;
  }
  
  .store.occupied {
    background: #Ea4c46;
  }

  .heading{
    font-weight: 700;
    font-family: 'Helvetica Neue';
  }

.button-style{
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-style .drodpown{
  background-color: #Ea4c46; 
  margin: 2%;
}

.containers{
  align-items: center;
  justify-content: center;
}
